
<div style="height: 100vh; background: #000;"
     leaflet
     [leafletOptions]="options"
     (leafletMapReady)="onMapReady($event)"
     (leafletDoubleClick)="onMapDoubleClick($event)"
     (leafletMapZoomEnd)="onMapZoomFinished($event)"
     (leafletMapMoveEnd)="closeSearchResults()"
     tabindex="0">
</div>

<app-toolbar [buttons]="leftToolbar" style="position: absolute;  z-index: 999; width: 25vw; left: 10px; top: 5px;"></app-toolbar>
<app-toolbar [buttons]="rightToolbar" [leftToRight]="false" style="position: absolute;  z-index: 999; width: 25vw; right: 10px; top: 5px;"></app-toolbar>

<app-settings-modal [(visible)]="showSettings"></app-settings-modal>
<app-about-modal [(visible)]="showAbout"></app-about-modal>

<!--<p-sidebar [(visible)]="showEvents" [showCloseIcon]="false" position="bottom" styleClass="p-sidebar-lg">-->
<!--  <app-event-grid [upcomingEvents]="this.upcomingEvents$ | async" (eventClicked)="panToEvent($event)"></app-event-grid>-->
<!--</p-sidebar>-->

<ng-container *ngrxLet="upcomingEvents$; let upcomingEvents">
  <ng-container *ngIf="showEvents">
    <app-event-grid [upcomingEvents]="upcomingEvents" (eventClicked)="panToEvent($event)" style="position: absolute; z-index: 999; width: 95vw; left:2.5vw; top: 5vw;"></app-event-grid>
  </ng-container>
</ng-container>

<ng-container *ngIf="showLayers">
  <app-layer-options [layers]="mapLayers" (layerUpdated)="layerUpdated($event)" style="position: absolute; z-index: 999; min-width: 15vw; left: 1.5vw; top: 5vw;"></app-layer-options>
</ng-container>

<ng-container *ngIf="!smallScreen">
  <img src="assets/compass.png" width="128" height="128" alt="map compass" style="scale: 1.25; position: absolute; z-index: 999; bottom: 65px; right: 55px" />
  <div class="clickable compass-button core" style="position: absolute; z-index: 1000; bottom: 165px; right: 95px" (click)="this.panTo([49024,31272])"
       pTooltip="Core Tyria" tooltipPosition="left" tooltipStyleClass="tooltip"></div>
  <div class="clickable compass-button eod" style="position: absolute; z-index: 1000; bottom: 45px; right: 95px" (click)="this.panTo([28832,101176])"
       pTooltip="End of Dragons" tooltipPosition="left" tooltipStyleClass="tooltip"></div>
  <div class="clickable compass-button pof" style="position: absolute; z-index: 1000; bottom: 105px; right: 35px" (click)="this.panTo([59904,48080])"
       pTooltip="Path of Fire" tooltipPosition="left" tooltipStyleClass="tooltip"></div>
  <div class="clickable compass-button hot" style="position: absolute; z-index: 1000; bottom: 108px; right: 155px" (click)="this.panTo([35407,33800])"
       pTooltip="Heart of Thorns" tooltipPosition="left" tooltipStyleClass="tooltip"></div>
  <div class="clickable compass-button-corner soto" style="position: absolute; z-index: 1000; bottom: 163px; right: 152px" (click)="this.panTo([26407,21800])"
       pTooltip="Secrets of the Obscure" tooltipPosition="left" tooltipStyleClass="tooltip"></div>
  <div class="clickable compass-button-player" style="position: absolute; z-index: 1000; bottom: 114px; right: 101px;"
       [pTooltip]="(liveMapState$ | async | titlecase) || 'failed to get connection info'" tooltipPosition="left" tooltipStyleClass="tooltip"></div>
</ng-container>

<app-live-marker-sidebar style="position: absolute; left: 15px; top: 5%; z-index: 999" />
