
.compass-button {
  width: 48px;
  height: 48px;
}

.compass-button-corner {
  width: 36px;
  height: 36px;
}

.compass-button.core {
  background-image: url("/assets/compass_core_pointer.png");
}

.compass-button.core:hover {
  background-image: url("/assets/compass_core_pointer_activated.png");
}

.compass-button.hot {
  background-image: url("/assets/compass_hot_pointer.png");
}

.compass-button.hot:hover {
  background-image: url("/assets/compass_hot_pointer_activated.png");
}

.compass-button.pof {
  background-image: url("/assets/compass_pof_pointer.png");
}

.compass-button.pof:hover {
  background-image: url("/assets/compass_pof_pointer_activated.png");
}

.compass-button.eod {
  background-image: url("/assets/compass_eod_pointer.png");
}

.compass-button.eod:hover {
  background-image: url("/assets/compass_eod_pointer_activated.png");
}

.compass-button-corner.soto {
  background-image: url("/assets/compass_soto_pointer.png");
}

.compass-button-corner.soto:hover {
  background-image: url("/assets/compass_soto_pointer_activated.png");
}

.compass-button-corner.voe {
  background-image: url("/assets/compass_castora_pointer.png");
}

.compass-button-corner.voe:hover {
  background-image: url("/assets/compass_castora_pointer_activated.png");
}

.compass-button-player {
  width: 32px;
  height: 32px;
  background-image: url("/assets/compass_player_location.png");
}
