<span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" pInputText class="p-inputtext-md" placeholder="Search" style="width: 25vw; min-width: 300px"
           [ngModel]="searchText"
           (ngModelChange)="onSearchChange($event)"
           (focusin)="onSearchFocused($event)">
</span>

<div *ngIf="this.searchResults" [hidden]="!this.showResults" style="position: absolute; z-index: 999; top: 55px; left: 0px; width: 25vw; min-width: 300px" >
  <p-card>
    <ng-template pTemplate="header">
      <button pButton type="button" class="p-button-rounded p-button-text" icon="pi pi-times" style="float: right;"
              tabindex="-1"
              (click)="reset()"></button>
    </ng-template>
    <ng-container *ngFor="let result of searchResults; let i = index">
      <img [src]="getIcon(result.type, result.data.icon)" [alt]="result.type" width="32" height="32" class="vertical-align-middle"/>
      <a class="clickable" [tabindex]="1" (click)="onClick(result)" (keydown)="onKeyDown($event, result)">
        {{result.name}}
      </a>
      <p-divider *ngIf="searchResults.length-1 !== i"></p-divider>
    </ng-container>
    <span *ngIf="searchResults.length === 0" class="font-bold">No Matching Results</span>
  </p-card>
</div>

