
.achievement-panel {
  margin-top: 5px;
  color: #222;
}

.pve {
  background-color: #9966CC;
}

.pve:hover {
  background-color: #AA77DD;
}

.pvp {
  background-color: #EC5752;
}

.pvp:hover {
  background-color: #FD6863;
}

.wvw {
  background-color: #EC5752;
}

.wvw:hover {
  background-color: #FD6863;
}

.fractals {
  background-color: #33CCCC;
}

.fractals:hover {
  background-color: #44DDDD;
}

.compact {
  max-height: 100px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expanded {}
