<div *ngIf="achievement" class="achievement-panel clickable w-full" [ngClass]="[achievement.category, state]"
     (mouseenter)="this.hovering = true"
     (mouseleave)="this.hovering = false"
     (click)="onClick($event)">
  <h2 class="p-2 text-overflow-ellipsis overflow-hidden white-space-nowrap m-0 mr-3">{{achievement.name}}</h2>
  <div class="px-2 pb-1">
    <div class="grid grid-nogutter">
      <p class="col text-overflow-ellipsis overflow-hidden text-left font-italic m-0">{{this.achievement.requirement}}</p>
    </div>
  </div>
</div>

