<div style="height: 100vh; background: #000;"
     leaflet
     [leafletOptions]="options"
     (leafletMapReady)="onMapReady($event)"
     (leafletDoubleClick)="onMapDoubleClick($event)"
     tabindex="0">
</div>


<div [hidden]="showMatches" style="position: absolute; z-index: 999; left: 10px; top: 15px">
  <ng-container *ngIf="selectedMatch">
    <app-score-overview [loading]="false" [small]="smallScreen" [match]="selectedMatch"></app-score-overview>
  </ng-container>
  <div *ngIf="!selectedMatch && !loadingWorld" class="flex align-items-center h-2rem tooltip">
    <span class="text-left ml-2 mr-1 my-1 mists-score">Failed to load match data..</span>
  </div>
</div>

<div class="flex flex-row align-items-center justify-content-center" style="position: absolute;  z-index: 999; width: 100%; bottom: 5px;">
  <button pButton tabindex="-1" class="p-button-raised p-button-rounded mx-1 clickable" (click)="showScore = true" icon="pi pi-chart-bar"></button>
  <button pButton tabindex="-1" class="p-button-raised p-button-rounded mx-1 clickable p-button-danger" (click)="this.panTo([10724, 10550], 4.25)" icon="pi pi-shield"></button>
  <button pButton tabindex="-1" class="p-button-raised p-button-rounded mx-1 clickable p-button-success" (click)="this.panTo([6913, 13267], 4.25)" icon="pi pi-shield"></button>
  <button pButton tabindex="-1" class="p-button-raised p-button-rounded mx-1 clickable p-button-info" (click)="this.panTo([14058, 12736], 4.25)" icon="pi pi-shield"></button>
  <button pButton tabindex="-1" class="p-button-raised p-button-rounded mx-1 clickable p-button-secondary"  (click)="this.panTo([10572, 14467], 4.25)" icon="pi pi-shield"></button>
  <button pButton tabindex="-1" class="p-button-raised p-button-rounded mx-1 clickable" (click)="showSettings = true" icon="pi pi-cog"></button>
</div>

<p-dialog header="Settings" [(visible)]="showSettings">
  <label class="font-bold">Home World:</label>
  <p-dropdown *ngIf="worlds$ | async as worlds"
              appendTo="body"
              [style]="{width: '100%'}"
              [options]="worlds | orderBy:'id'" optionLabel="name" [(ngModel)]="selectedWorld"
              [filter]="true" filterBy="name">
  </p-dropdown>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="worldChanged(selectedWorld); this.showSettings = false" label="Save" styleClass="p-button p-button-text p-button-success"></p-button>
  </ng-template>
</p-dialog>

<p-sidebar [(visible)]="showScore" [showCloseIcon]="false" position="bottom" styleClass="p-sidebar-lg">
  <div class="grid my-0" *ngIf="selectedMatch">
    <div class="lg:col-4 col-12">
      <h1 class="my-2 text-center">Fight Stats</h1>
      <app-fight-stats-chart height="24rem" [match]="selectedMatch"></app-fight-stats-chart>
    </div>
    <div class="lg:col-8 col-12">
      <h1 class="my-2 text-center">Skirmish Stats</h1>
      <app-skirmish-stats-chart height="24rem" [match]="selectedMatch"></app-skirmish-stats-chart>
    </div>
  </div>
</p-sidebar>

<div [hidden]="!showMatches" class="overflow-auto h-auto w-auto my-5" style="position: absolute; z-index: 999; left: 0; right: 0; top: 25px; margin-left: auto; margin-right: auto">
  <app-match-overview (clickedMatch)="overviewMatchClicked($event)"></app-match-overview>
</div>
