<div class="flex flex-auto flex-column overflow-y-auto" style="max-height: 80vh;">
    <div class="flex flex-auto align-items-center justify-content-between tooltip mb-1 py-1 px-2" *ngFor="let layer of _layers">
        <span class="flex text-left align-items-center">
            <img class="mr-2" [src]="layer.icon" width="24" height="24" alt="layer icon"/>
            {{layer.friendlyName}}:
        </span>
        <span class="align-self-end">
            <p-triStateCheckbox class="small-input-switch"
                                [ngModel]="mapState(layer)"
                                (onChange)="onLayerToggle($event, layer)"
                                checkboxTrueIcon="pi pi-lock-open"
                                checkboxFalseIcon="pi pi-lock">
            </p-triStateCheckbox>
        </span>
    </div>
</div>
