<p-dialog header="About" [(visible)]="this.visible" [style]="{width: '50vw'}" [breakpoints]="{'1200px': '75vw', '768px': '95vw'}">
  <div>
    Created because I like scrolling around on maps when I'm wasting time and there were none for Guild Wars 2 that I enjoyed using.
    Little things like (hopefully) smooth performance when panning around but still being able to see all the relevant information and schedules for the currently active events for each expansion.
  </div>
  <div>
    <h4 class="mb-1">Marker Interaction</h4>
    Clicking a marker to copy its chat link to your clipboard or
    double clicking to be taken to the wiki. Along with increased detail on major cities such as Lion's Arch and Arborstone.
  </div>
  <div>
    <h4 class="mb-1">Direct Links</h4>
    You can also link others directly to a location on the map, look here is the <a href="/tyria#-494.40625,432.0625,4" target="_blank">Isle of Istan</a> or using a chat link you add it to the end e.g. <a href="/tyria/[&BO8AAAA=]">https://maps.gw2.io/tyria/[&BO8AAAA=]</a> and a green circle will highlight it.
  </div>
  <div>
    <h4 class="mb-1">Drawing</h4>
    Draw in the same style as in-game by holding the right click, your line will slowly fade after you let go.
  </div>
  <div>
    <h4 class="mb-1">Live Map (Experimental)</h4>
    There is experimental support for a "Live Map" (requires an API key), allowing you to see yourself, guild, everyone or a special mix of all the above as markers on the map including in WvW. This feature is experimental and not officially supported. For support in getting set up can be found on the Gw2 Developer Discord below, with some detailed instructions provided by Xinterp.
  </div>
  <div>
    <h4 class="mb-1">Finally</h4>
    Any suggestions, issues, or feedback feel free to open an issue on GitHub, find me in my Gw2 Dev Discord below or send me a mail in-game.
  </div>
  <div>
    <h4 class="mb-1">Contact Me</h4>
    <ul>
      <li>Discord: &#64;spai</li>
      <li>Github: <a href="https://github.com/snappey">Snappey</a></li>
      <li>In-Game: Snappy.8941</li>
    </ul>
  </div>

  <div class="build-date mt-3">
    Last updated {{ buildDate | date:'longDate' }}
  </div>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-center gap-2 w-full">
      <p-button icon="pi pi-discord" (click)="openDiscord()" label="Discord" severity="info" [outlined]="true"></p-button>
      <p-button icon="pi pi-github" (click)="openGithub()" label="GitHub" severity="info" [outlined]="true"></p-button>
      <p-button icon="pi pi-exclamation-triangle" (click)="openGithubIssues()" label="Report an Issue" severity="danger" [outlined]="true"></p-button>
    </div>
  </ng-template>
</p-dialog>
