<div class="flex justify-content-evenly flex-wrap px-6 fadein animation-duration-300" style="max-height: 90vh; overflow-y: auto">
  <ng-container *ngFor="let region of upcomingEvents | keyvalue">
    <div class="flex flex-1 flex-column mx-3">
      <div class="mb-1 align-items-center h-2rem tooltip">
        <h3 class="my-1 text-center">{{friendlyXpacName(region.key)}}</h3>
      </div>
      <ng-container *ngFor="let event of region.value">
        <div class="my-2 clickable hover">
          <app-event-panel [event]="event" (clickedEvent)="forwardsEvent($event)"></app-event-panel>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
